<div class="jumbotron text-center">
<h1>Dungeons and Dragons Random Character Generator</h1>
<a class= "btn btn-danger" href="/">Generate Chracter</a>
</div>

@model NewCharacter


@* Pull API from fantasy name generator for names *@
<div class="cotnainer" style="background: beige; border: 2px solid black; border-radius:5px;  margin: 5px; padding: 20 px;">

<div class="row">
    <h4 class="col-sm-5 text-center" style = "margin-bottom: 5px;">Character Name the @Model.playerRace.Race</h4>
    <h4 class="col-sm-4 text-center" style = "margin-bottom: 5px;">@Model.playerClass.ClassName and @Model.playerBG.Background</h4>
</div>
<div class="row ">
    <div class= "col-sm text-center" style="margin: 10px;">
        <div class="col-sm text-center" style ="border: 2px solid black; border-radius:5px;  margin: 2px; background: white;">
            <p>Strength</p>
            <p>@Model.playerStat.Strength</p>
        </div>
        <div class="col-sm text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px;">
            <p>Dexterity</p>
            <p>@Model.playerStat.Dexterity</p>
        </div>
        <div class="col-sm text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px;">
            <p>Constitution</p>
            <p>@Model.playerStat.Constitution</p>
        </div>
        <div class="col-sm text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px;">
            <p>Intelligence</p>
            <p>@Model.playerStat.Intelligence</p>
        </div>
        <div class="col-sm text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px;">
            <p>Wisdom</p>
            <p>@Model.playerStat.Wisdom</p>
        </div>
        <div class="col-sm text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px;">
            <p>Charisma</p>
            <p>@Model.playerStat.Charisma</p>
        </div>
    </div>
    <div class = "col-sm text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 10px; text-align: left;  ">
        <ul style ="list-style-type:none; text-align: left;">
            <li>Acrobatics - @Model.playerStat.Acrobatics</li>
            <li>Animal Handling - @Model.playerStat.AnimalHandling</li>
            <li>Arcana - @Model.playerStat.Arcana</li>
            <li>Athletics - @Model.playerStat.Athletics</li>
            <li>Deception - @Model.playerStat.Deception</li>
            <li>History - @Model.playerStat.History</li>
            <li>Insight - @Model.playerStat.Insight</li>
            <li>Intimidation - @Model.playerStat.Intimidation</li>
            <li>Investigation - @Model.playerStat.Investigation</li>
            <li>Medicine - @Model.playerStat.Medicine</li>
            <li>Nature - @Model.playerStat.Nature</li>
            <li>Perception - @Model.playerStat.Perception</li>
            <li>Performance - @Model.playerStat.Performance</li>
            <li>Persuasion - @Model.playerStat.Persuasion</li>
            <li>Religion - @Model.playerStat.Religion</li>
            <li>Sleight of Hand - @Model.playerStat.Sleight</li>
            <li>Stealth - @Model.playerStat.Stealth</li>
            <li>Survival - @Model.playerStat.Survival</li>

        </ul>
    </div>
    <div class="col-sm" style="margin: 10px;">
        <div class="row" >
            <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Level</p>
                <p>@Model.Level</p>
            </div>
            <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Hit Points</p>
                <p>@Model.playerStat.HitPoints</p>
            </div>
         </div>
         <div class="row" >
            <div class="col-5 text-center" style ="border-radius:5px; background: white; margin: 2px; text-align: left;">
                <span><br></span>
            </div>
            <div class="col-5 text-center" style ="border-radius:5px; background: white; margin:2px; text-align: left;">
                <span><br></span>
            </div>
         </div>
         <div class="row" >
            <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Strength Mod</p>
                <p>@Model.playerStat.StrMod</p>
            </div>
            <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Dexterity Mod</p>
                <p>@Model.playerStat.DexMod</p>
            </div>
         </div>
         <div class="row" >
            <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Constitution Mod</p>
                <p>@Model.playerStat.ConMod</p>
            </div>
            <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Intelligence Mod</p>
                <p>@Model.playerStat.IntMod</p>
            </div>
         </div>
         <div class="row" >
            <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Wisdom Mod</p>
                <p>@Model.playerStat.WisMod</p>
            </div>
            <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                <p>Charisma Mod</p>
                <p>@Model.playerStat.ChaMod</p>
            </div>
         </div>
    </div>
    
</div>
</div>


<div class="row">
    <div class="col-sm">
        <p>Proficiencies did run: @Model.playerClass.Proficiencies</p>
        <p>Player class ASI total: @Model.playerClass.ASI</p>
        <p>Player class hp: @Model.playerClass.ClassHP</p>
        <p>Stat HP: @Model.playerStat.HitPoints</p>
        <p>Race: @Model.playerRace.Race</p>
        <p>Speed: @Model.playerRace.Speed</p>
        <p>Racial trait 1: @Model.playerRace.RacialTraits1</p>
        <p>Racial trait 2: @Model.playerRace.RacialTraits2</p>
        <p>Background: @Model.playerBG.Background</p>
        <p>BG Feature: @Model.playerBG.Feature</p>
        <p>BG PRoficiences ran: @Model.playerBG.Proficiencies</p>
        <p>Proficiencies @Model.playerStat.Proficiency</p>
        <p>Acrobatics @Model.playerStat.AcrobaticsB</p>   
        <p>AnimalHandling @Model.playerStat.AnimalHandlingB</p> 
        <p>Arcana @Model.playerStat.ArcanaB</p> 
        <p>Athletics @Model.playerStat.AthleticsB</p> 
        <p>Deception @Model.playerStat.DeceptionB</p> 
        <p>History @Model.playerStat.HistoryB</p> 
        <p>Intimidation @Model.playerStat.IntimidationB</p> 
        <p>Insight @Model.playerStat.InsightB</p> 
        <p>Medicine @Model.playerStat.MedicineB</p> 
        <p>Nature @Model.playerStat.NatureB</p> 
        <p>Perception @Model.playerStat.PerceptionB</p> 
        <p>Performance @Model.playerStat.PerformanceB</p> 
        <p>Persuasion @Model.playerStat.PersuasionB</p> 
        <p>Religion @Model.playerStat.ReligionB</p> 
        <p>Sleight @Model.playerStat.SleightB</p> 
        <p>Stealth @Model.playerStat.StealthB</p> 
        <p>Survival @Model.playerStat.SurvivalB</p> 
    </div>

</div>

