<style>
    *{
        font-family: Verdana, Geneva, sans-serif;
    }
    .form-popup{
        display: none;
        position: fixed;
        top: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    
    .container{
        background-color: #BFC0C0;
    }
    .btn{
        background-color: #2d3142;
        border: 1px solid #2d3142;
    }
    .btn-primary:hover {
        background-color: #3B0D11;
        border: 1px solid #3B0D11;
        opacity: 1;
    }
    .btn-sample:active {
        background-color: #3B0D11;
        border: 1px solid #2d3142;
    }
    .title {
        color: #2D3142 ;
        font-size: 3rem;
        font-weight: bold;
    }
    .welcome {
        font-weight: bold;
        color: #2D3142;
        text-align: center;
    }
    #refresh{
        color: #3B0D11;
        font-style: italic;
        font-size: large;
    }
    .profVals{
        text-align: right; 
        float: right;
        
       
    }
    .profCheck{
        margin:1px; 
        list-style-type: none;
        color: black;
    }
    .charBase{
        border: 2px solid black;
        border-radius: 3px;
    }
    .equal {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
    .statbox{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        text-align: left;
    }
    .bigbox{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        text-align: left;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #featbox{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        text-align: left;
        padding-top: 3%;
        padding-left: 20px;
    }
    

    
</style>

@model dynamic

@* Header Login/Registration  *@
<div class="row">
    <h1 class= "col-sm-8 text center"><a href="/" class="title">DnD 5E Character Randomizer</a></h1>
    <div class="col-sm-4">
        @{
            if(ViewBag.SessionId == null)
            {
                <div class="row">
                    <button class= "register-form col-sm-5 btn btn-primary btn-sm logreg" onclick="openRegistration()" >Register</button>
                    <div class="form-popup" id="register">
                        @* <partial Name="RegisterPartial"></partial> *@
                        @Html.Partial("RegisterPartial", (User) @Model.User)
                    </div>
                    <h5 class="col-sm-1">|</h5>
                    <button class = "login-form col-sm-5 btn btn-primary btn-sm logreg" onclick="openLogin()">Login</button>
                    <div class="form-popup" id= "login">
                        @* <partial Name="LoginPartial"></partial> *@
                        @Html.Partial("LoginPartial", (Login) @Model.Login)
                    </div>
                </div>
            }
            else
            {
                <div class="row">

                    <a class="btn btn-primary btn-sm col-sm-5 logreg" href="/profile/@Model.User.UserId">Profile</a>
                    <h5 class="col-sm-1">|</h5>
                    <a class="btn btn-primary btn-sm col-sm-5 logreg" href="/logout">Logout</a>
                </div>
            }
        }
    </div>
</div>

<div class="row welcome">
    <div class="col">
        <p class=" welcome">Welcome to our humble Character Randomizer!</p>
        <p class=" welcome">If you would like to be a bit more precise, then please register and you will be able to save your characters!</p>
        <p class=" welcome">Otherwise, click <a href="/" id="refresh">here</a> for another Character! Thanks for Visiting!</p>
        <br>
        <p class=" welcome">This Randomizer tool is made by fans, for fans, using references to the <a href=>Standard Reference Document 5.1</a>. If you're interested in additional options not found in the Standard Reference Document, please buy a copy of the 5th Edition Player's Handbook or use <a href="dndbeyond.com">DnD Beyond</a> and purchase the materials there.</p>
    </div>
</div>



@* Pull API from fantasy name generator for names *@
<div class="container-lg" style="background: beige; border: 5px solid black; border-radius:10px; padding: 2%;">
    <div class="row">
        <h5 class="col-sm-6 col-md-3 text-center  charBase" >Name: <input type="text" name="CharacterName"></h5>
        <h5 class="col-sm-6 col-md-2 text-center  charBase" >Class: @Model.Character.playerClass.ClassName</h5>
        <h5 class="col-sm-6 col-md-2 text-center  charBase" >Race: @Model.Character.playerRace.Race</h5>
        <h5 class="col-sm-6 col-md-3 text-center  charBase" >Background:@Model.Character.playerBG.Background</h5>
        <h5 class="col-sm-6 col-md-2 text-center  charBase" >Level:@Model.Character.Level</h5>
    </div>
    <div class="row equal">
        @* Column 1 *@
        <div class="col-sm-12 col-md-4 d-flex flex-md-column text-center">
            <div class="row equal p-2 flex-md-row" >
                <div class="col-sm-6 text-center">
                    <h5>Stats</h5>
                </div>
                <div class="col-sm-6 text-center">
                    <h5>Modifiers</h5>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox" >
                    <p>Strength</p>
                    <p>@Model.Character.playerStat.Strength</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Strength Modifier</p>
                    <p>@Model.Character.playerStat.StrMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Dexterity</p>
                    <p>@Model.Character.playerStat.Dexterity</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Dexterity Modifier</p>
                    <p>@Model.Character.playerStat.DexMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Constitution</p>
                    <p>@Model.Character.playerStat.Constitution</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Constitution Modifier</p>
                    <p>@Model.Character.playerStat.ConMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Wisdom</p>
                    <p>@Model.Character.playerStat.Wisdom</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Wisdom Modifier</p>
                    <p>@Model.Character.playerStat.WisMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Charisma</p>
                    <p>@Model.Character.playerStat.Charisma</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Charisma Modifier</p>
                    <p>@Model.Character.playerStat.ChaMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Intelligence</p>
                    <p>@Model.Character.playerStat.Intelligence</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Intelligence Modifier</p>
                    <p>@Model.Character.playerStat.IntMod</p>
                </div>
            </div>
        </div>
        
        @* Column 2 *@
        <div class = "col-sm-12 col-md-4 text-center d-flex flex-md-column">
                <h5>Skills</h5>
                <ul class="col-sm statbox bigbox">
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Acrobatics">
                        Acrobatics
                        <span class="profVals">@Model.Character.playerStat.Acrobatics</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "AnimalHandling ">
                        Animal Handling 
                        <span class="profVals">@Model.Character.playerStat.AnimalHandling</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Arcana">
                        Arcana 
                        <span class="profVals">@Model.Character.playerStat.Arcana</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Athletics">
                        Athletics 
                        <span class="profVals">@Model.Character.playerStat.Athletics</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Deception">
                        Deception 
                        <span class="profVals"> @Model.Character.playerStat.Deception</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "History">
                        History 
                        <span class="profVals">@Model.Character.playerStat.History</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Insight">
                        Insight 
                        <span class="profVals"> @Model.Character.playerStat.Insight</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Intimidation">
                        Intimidation 
                        <span class="profVals"> @Model.Character.playerStat.Intimidation</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Investigation">
                        Investigation 
                        <span class="profVals"> @Model.Character.playerStat.Investigation</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Medicine">
                        Medicine 
                        <span class="profVals"> @Model.Character.playerStat.Medicine</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Nature">
                        Nature 
                        <span class="profVals"> @Model.Character.playerStat.Nature</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Perception">
                        Perception 
                        <span class="profVals"> @Model.Character.playerStat.Perception</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Performance">
                        Performance 
                        <span class="profVals">@Model.Character.playerStat.Performance</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Persuasion">
                        Persuasion 
                        <span class="profVals">@Model.Character.playerStat.Persuasion</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Religion">
                        Religion 
                        <span class="profVals"> @Model.Character.playerStat.Religion</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Sleight">
                        Sleight of Hand 
                        <span class="profVals"> @Model.Character.playerStat.Sleight</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Stealth">
                        Stealth 
                        <span class="profVals"> @Model.Character.playerStat.Stealth</span>
                    </li>
                    <li class= "profcheck" onload=ProfCheck(this.id) id= "Survival">
                        Survival 
                        <span class="profVals"> @Model.Character.playerStat.Survival</span>
                    </li>
                </ul>
        </div>
        
        @* Column 3 *@
        <div class="col-sm-12 col-md-4  d-flex flex-md-column text-center">
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center">
                    <h5>Proficiency</h5>
                </div>
                <div class="col-sm-6 text-center">
                    <h5>Proficiency</h5>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox ">
                    <p>Hit Points</p>
                    <p>@Model.Character.playerStat.HitPoints</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Proficiency</p>
                    <p>@Model.Character.playerStat.Proficiency</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Speed</p>
                    <p>@Model.Character.playerRace.Speed</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Initiative</p>
                    <p>0</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Base AC</p>
                    <p>0</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>?????</p>
                    <p>0</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Strength Saving</p>
                    <p>@Model.Character.playerStat.StrMod</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Dexterity Saving</p>
                    <p>@Model.Character.playerStat.DexMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Constitution Saving</p>
                    <p>@Model.Character.playerStat.ConMod</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Intelligence Saving</p>
                    <p>@Model.Character.playerStat.IntMod</p>
                </div>
            </div>
            <div class="row equal p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Wisdom Saving</p>
                    <p>@Model.Character.playerStat.WisMod</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Charisma Saving</p>
                    <p>@Model.Character.playerStat.ChaMod</p>
                </div>
            </div>
        </div>
        @* Column 4 *@
        <div class = "col-sm-12 col-md-4 text-center" style =" text-align: left; ">
            <h5>Features</h5>
            <ul class= "statbox">
                @foreach(Feature feat in Model.Features)
            {
            <li>@feat.FeatureName</li>
            }
            </ul>
        </div>

        @* Column 5 *@
        <div class = "col-sm-12 col-md-4 text-center" style =" text-align: left; ">
            <h5>Spells</h5>
            <ul class="col-sm statbox bigbox">
               <li>Foreach spell in spell array</li>
               <li>print spells in a list</li>
               <li>if we get the details from the api</li>
               <li>We can populate data in a popup on mouse over</li>
               <li>Gonna need to make these flex containers so they all fit the same size all the time</li>
               <li>Need to center all 4 columns</li>
               <li>proficeney hgihlighting in js needs work</li>
               <li>make all the boxes in each column the same fucking size</li>
               <li>color, texture, shadows</li>
               <li>get a better font</li>
               <li>get a color scheme pallete</li>
                <li>logo font too</li>
                <li>give login and registration an x</li>
                <li>do something with fatures</li>
                <li>shirnk container and make two row equals of three columns??????</li>
                <li>sixth column?????</li>
            </ul>
        </div>

        @* Column 6 *@
        <div class="col-sm-12 col-md-4 text-center">
            <h5>Notes</h5>
            <ul class="col-sm statbox bigbox">
               <li></li>
               <li></li>
               <li>if we get the details from the api</li>
               <li>We can populate data in a popup on mouse over</li>
               <li>Gonna need to make these flex containers so they all fit the same size all the time</li>
               <li>Need to center all 4 columns</li>
               <li>proficeney hgihlighting in js needs work</li>
               <li>make all the boxes in each column the same fucking size</li>
               <li>color, texture, shadows</li>
               <li>get a better font</li>
               <li>get a color scheme pallete</li>
                <li>logo font too</li>
                <li>give login and registration an x</li>
                <li>do something with fatures</li>
                <li>shirnk container and make two row equals of three columns??????</li>
                <li>sixth column?????</li>
            </ul>
        </div>
    </div>
    <div class="row equal">
        <div class="col">
            <h5>Skills and Spells</h5>
            <p>Spells</p>
        </div>
        <div class="col">
            <h5>Notes</h5>
            <p>notes?</p>
        </div>
    </div>
</div>



<script>
function openRegistration() {
    if(document.getElementById("login").style.display == "block")
    {
        document.getElementById("login").style.display = "none";
        document.getElementById("register").style.display = "block";
    }
    else if(document.getElementById("register").style.display == "block")
    {
        closeRegistration();
    }
    else{
        document.getElementById("register").style.display = "block";
    }
}

function closeRegistration() {
  document.getElementById("register").style.display = "none";
}

function openLogin() {
    if(document.getElementById("register").style.display == "block")
    {
        document.getElementById("register").style.display = "none";
        document.getElementById("login").style.display = "block";
    }
    else if(document.getElementById("login").style.display == "block")
    {
        document.getElementById("login").style.display = "none"
    }
    else{
        document.getElementById("login").style.display = "block";
    }
}

function closeLogin() {
  document.getElementById("login").style.display = "none";
}


//check to see if model prof bool is t/f ???????
function ProfCheck(ProfId, playerStatProf) {
    let profCheck = (ProfId + "B");
    let playerStats = playerStatProf + "." + profCheck; 
    Console.log(profCheck);
    Console.log(playerStats);
    Console.log("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++");
    if(playerStats == true)
    {
        document.getElementById(ProfId).style.color = "yellow";
    }
}
</script>


