<style>
    
    .form-popup{
        display: none;
        position: fixed;
        top: 0;
        right: 15px;
        border: 3px solid #BFC0C0;
        z-index: 9;
    }

    .form-container .btn {
        background-color: #2d3142;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    
    .container{
        background-color: #BFC0C0;
    }
    .btn{
        background-color: #2d3142;
        border: 1px solid #2d3142;
        color: white;
    }
    .btn-primary:hover {
        background-color: #3B0D11;
        border: 1px solid #3B0D11;
        color: white;
        opacity: 1;
    }
    .btn-primary:active:focus {
        background-color: #3B0D11;
        border: 1px solid #2d3142;
        color: white;
    }
    .title {
        color: #2D3142 ;
        font-size: 3rem;
        font-weight: bold;
    }
    .welcome {
        font-weight: bold;
        color: #2D3142;
        text-align: center;
    }
    #refresh{
        color: #3B0D11;
        font-style: italic;
        font-size: large;
    }
    .profVals{
        text-align: right; 
        float: right;
        
       
    }
    .profcheck{
        margin-top: 10px;
        margin-bottom:7px; 
        list-style-type: none;
        color: black;
    }
    .charBase{
        border: 2px solid black;
        border-radius: 3px;
    }
    .equal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: initial;
        min-height: 600px;
    }
    .statbox{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        text-align: left;
    }
    .bigbox{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        text-align: left;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .statboxSpell{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
    }
    .bigboxSpell{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #featbox{
        border: 2px solid black; 
        background: white; 
        border-radius:5px;  
        text-align: left;
        padding-top: 3%;
        padding-left: 20px;
    }
    textarea {
        overflow-y: scroll;
        height: 500px;
        resize: none; /* Remove this if you want the user to resize the textarea */
    }
    .prepSpell{
        list-style: none;
    }
    .radioToggle{

    }
    .logreg { 
        margin-top: 10px;
    }

</style>

@model dynamic

@* Header Login/Registration  *@
<div class="row">
    <h1 class= "col-sm-8 text center"><a href="/" class="title" >DnD 5E Character Randomizer</a></h1>
    <div class="col-sm-4">
        @{
            if(@Model.User == null)
            {
                <div class="row">
                    <button class= "register-form col-sm-5 btn btn-primary btn-sm logreg" onclick="openRegistration()" >Register</button>
                    <div class="form-popup" id="register">
                        <partial>@Html.Partial("RegisterPartial", (User) @Model.User)</partial>
                    </div>
                    <h5 class="col-sm-1 logreg">|</h5>
                    <button class = "login-form col-sm-5 btn btn-primary btn-sm logreg" onclick="openLogin()">Login</button>
                    <div class="form-popup" id= "login">
                        <partial>@Html.Partial("LoginPartial", (Login) @Model.Login)</partial>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <a class="btn btn-primary btn-sm col-sm-5 logreg" href="/profile/@Model.User.UserId">Profile</a>
                    <h5 class="col-sm-1 logreg">|</h5>
                    <a class="btn btn-primary btn-sm col-sm-5 logreg" href="/logout">Logout</a>
                </div>
            }
        }
    </div>
</div>

<div class="row welcome">
    <div class="col">
        <p class=" welcome">Welcome to our humble Character Randomizer!</p>
        <p class=" welcome">This tool is made for creating randomized characters, from levels one to twenty, and designed to be used in conjunction with the 5e SRD or 5th Edition Player's Handbook. Hit Points, Spell selection, and Stat Arrays are randomly generated for your use. Additional modifications to Stat Arrays from Features must be done manually. Register or Login to begin generating characters!</p>
        <br>
        <p class=" welcome">This Randomizer tool is made by fans, for fans, using references to the <a href="https://dnd.wizards.com/articles/features/systems-reference-document-srd">Standard Reference Document 5.1</a>. If you're interested in additional options not found in the Standard Reference Document, please buy a copy of the 5th Edition Player's Handbook or use <a href="https://www.dndbeyond.com/">DnD Beyond</a> and purchase the materials there.</p>
         <input type="hidden" id="CharacterId" name="CharacterId" value="@Model.Character.CharacterId">
    </div>
</div>
<div class="row justify-content-center" class="form-popup" id="specGen">
    <partial>@Html.Partial("SpecGenPartial")</partial>
</div>

@* Pull API from fantasy name generator for names *@
<div class="container-lg" style="background: beige; border: 5px solid black; border-radius:10px; padding: 2%;">
    <form>
    <div class="row">
        <h5 class="col-sm-6 col-md-3 text-center  charBase" >Name: <input type="text" id ="CharacterName" name="CharacterName" value="@Model.Character.playerName"></h5>
        <h5 class="col-sm-6 col-md-2 text-center  charBase" >Class: @Model.Character.playerClass.ClassName / @Model.Character.playerClass.SubClassName</h5>
        <h5 class="col-sm-6 col-md-2 text-center  charBase" >Race: @if(@Model.Character.playerRace.Subrace != null){@Model.Character.playerRace.Subrace} @Model.Character.playerRace.Race </h5>
        <h5 class="col-sm-6 col-md-3 text-center  charBase" >Background: @Model.Character.playerBG.Background</h5>
        <h5 class="col-sm-6 col-md-2 text-center  charBase" >Level:@Model.Character.Level</h5>
    </div>
    <div class="row equal">
        @* Column 1 *@
        <div class="col-sm-12 col-md-4 d-flex flex-md-column text-center equal">
            <div class="row p-2 flex-md-row" >
                <div class="col-sm-6 text-center">
                    <h5>Stats</h5>
                </div>
                <div class="col-sm-6 text-center">
                    <h5>Modifiers</h5>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox" >
                    <p>Strength</p>
                    <p>@Model.Character.playerStat.Strength</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Strength Modifier</p>
                    <p>@Model.Character.playerStat.StrMod</p>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Dexterity</p>
                    <p>@Model.Character.playerStat.Dexterity</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Dexterity Modifier</p>
                    <p>@Model.Character.playerStat.DexMod</p>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Constitution</p>
                    <p>@Model.Character.playerStat.Constitution</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Constitution Modifier</p>
                    <p>@Model.Character.playerStat.ConMod</p>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Wisdom</p>
                    <p>@Model.Character.playerStat.Wisdom</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Wisdom Modifier</p>
                    <p>@Model.Character.playerStat.WisMod</p>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Charisma</p>
                    <p>@Model.Character.playerStat.Charisma</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Charisma Modifier</p>
                    <p>@Model.Character.playerStat.ChaMod</p>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Intelligence</p>
                    <p>@Model.Character.playerStat.Intelligence</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Intelligence Modifier</p>
                    <p>@Model.Character.playerStat.IntMod</p>
                </div>
            </div>
        </div>
        
        @* Column 2 *@
        <div class = "col-sm-12 col-md-4 text-center d-flex flex-md-column">
                <div class="row p-2 flex-md-row" >
                    <div class="col-sm-12 text-center" style="margin-bottom:9px;">
                        <h5>Proficency</h5>
                    </div>
                </div>
                <ul class="col-sm statbox bigbox">
                    <li class= "profcheck" id= "Acrobatics">
                        Acrobatics
                        @if(@Model.Character.playerStat.AcrobaticsB == true){
                           <span class="profVals" style="color:red;">@Model.Character.playerStat.Acrobatics</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Acrobatics</span>
                        }
                    </li>
                    <li class= "profcheck" id= "AnimalHandling ">
                        Animal Handling 
                        @if(@Model.Character.playerStat.AnimalHandlingB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.AnimalHandling</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.AnimalHandling</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Arcana">
                        Arcana 
                        @if(@Model.Character.playerStat.ArcanaB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Arcana</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Arcana</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Athletics">
                        Athletics 
                        @if(@Model.Character.playerStat.AthleticsB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Athletics</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Athletics</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Deception">
                        Deception 
                        @if(@Model.Character.playerStat.DeceptionB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Deception</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Deception</span>
                        }
                    </li>
                    <li class= "profcheck" id= "History">
                        History 
                        @if(@Model.Character.playerStat.HistoryB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.History</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.History</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Insight">
                        Insight
                        @if(@Model.Character.playerStat.InsightB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Insight</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Insight</span>
                        } 
                    </li>
                    <li class= "profcheck" id= "Intimidation">
                        Intimidation
                        @if(@Model.Character.playerStat.IntimidationB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Intimidation</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Intimidation</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Investigation">
                        Investigation
                        @if(@Model.Character.playerStat.InvestigationB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Investigation</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Investigation</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Medicine">
                        Medicine
                        @if(@Model.Character.playerStat.MedicineB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Medicine</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Medicine</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Nature">
                        Nature
                        @if(@Model.Character.playerStat.NatureB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Nature</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Nature</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Perception">
                        Perception
                        @if(@Model.Character.playerStat.PerceptionB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Perception</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Perception</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Performance">
                        Performance
                        @if(@Model.Character.playerStat.PerformanceB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Performance</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Performance</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Persuasion">
                        Persuasion
                        @if(@Model.Character.playerStat.PersuasionB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Persuasion</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Persuasion</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Religion">
                        Religion
                        @if(@Model.Character.playerStat.ReligionB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Religion</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Religion</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Sleight">
                        Sleight of Hand
                        @if(@Model.Character.playerStat.SleightB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Sleight</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Sleight</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Stealth">
                        Stealth
                        @if(@Model.Character.playerStat.StealthB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Stealth</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Stealth</span>
                        }
                    </li>
                    <li class= "profcheck" id= "Survival">
                        Survival
                        @if(@Model.Character.playerStat.SurvivalB == true){
                            <span class="profVals" style="color:red;">@Model.Character.playerStat.Survival</span>
                        }else{
                            <span class="profVals">@Model.Character.playerStat.Survival</span>
                        }
                    </li>
                </ul>
        </div>
        
        @* Column 3 *@
        <div class="col-sm-12 col-md-4 d-flex flex-md-column text-center equal">
            <div class="row p-2 flex-md-row" >
                <div class="col-sm-6 text-center">
                    <h5>Abilities</h5>
                </div>
                <div class="col-sm-6 text-center">
                    <h5>Saves</h5>
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox" >
                    <p>Hit Points</p>
                    <p>@Model.Character.playerStat.HitPoints</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Strength Save</p>
                    @if(@Model.Character.playerStat.StrSaveB == true){
                        <p>@(@Model.Character.playerStat.StrMod + @Model.Character.playerStat.Proficiency)</p>
                    }else{
                        <p>@Model.Character.playerStat.StrMod</p>
                    }
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Speed</p>
                    <p>@Model.Character.playerRace.Speed</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Dexterity Save</p>
                    @if(@Model.Character.playerStat.DexSaveB == true){
                        <p>@(@Model.Character.playerStat.DexMod + @Model.Character.playerStat.Proficiency)</p>
                    }else{
                        <p>@Model.Character.playerStat.DexMod</p>
                    }
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Proficiency</p>
                    <p>@Model.Character.playerStat.Proficiency</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Constitution Save</p>
                    @if(@Model.Character.playerStat.ConSaveB == true){
                        <p>@(@Model.Character.playerStat.ConMod + @Model.Character.playerStat.Proficiency)</p>
                    }else{
                        <p>@Model.Character.playerStat.ConMod</p>
                    }
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Initiative Bonus</p>
                    <p>@Model.Character.playerStat.DexMod</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Wisdom Save</p>
                    @if(@Model.Character.playerStat.WisSaveB == true){
                        <p>@(@Model.Character.playerStat.WisMod + @Model.Character.playerStat.Proficiency)</p>
                    }else{
                        <p>@Model.Character.playerStat.WisMod</p>
                    }
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Passive Perception</p>
                    <p>@Model.PassivePerception</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Charisma Save</p>
                    @if(@Model.Character.playerStat.ChaSaveB == true){
                        <p>@(@Model.Character.playerStat.ChaMod + @Model.Character.playerStat.Proficiency)</p>
                    }else{
                        <p>@Model.Character.playerStat.ChaMod</p>
                    }
                </div>
            </div>
            <div class="row p-2" >
                <div class="col-sm-6 text-center statbox">
                    <p>Number of ASIs</p>
                    <p>@Model.Character.playerClass.ASI</p>
                </div>
                <div class="col-sm-6 text-center statbox" >
                    <p>Intelligence Save</p>
                    @if(@Model.Character.playerStat.IntSaveB == true){
                        <p>@(@Model.Character.playerStat.IntMod + @Model.Character.playerStat.Proficiency)</p>
                    }else{
                        <p>@Model.Character.playerStat.IntMod</p>
                    }
                </div>
            </div>
        </div>
        @* Column 4 *@
        <div class = "col-sm-12 col-md-4 text-center" style =" text-align: left; ">
            <h5>Features</h5>
            <div class="col-sm statbox bigbox equal">
                <ul>
                    @if(@Model.Character.playerRace.RacialTraits1 != null){
                        <li>@Model.Character.playerRace.RacialTraits1</li>
                    }
                    @if(@Model.Character.playerRace.RacialTraits2 != null){
                        <li>@Model.Character.playerRace.RacialTraits2</li>
                    }
                    @if(@Model.Character.playerRace.RacialTraits3 != null){
                        <li>@Model.Character.playerRace.RacialTraits3</li>
                    }
                    @if(@Model.Character.playerRace.RacialTraits4 != null){
                        <li>@Model.Character.playerRace.RacialTraits4</li>
                    }
                    @if(@Model.Character.playerRace.RacialTraits5 != null){
                        <li>@Model.Character.playerRace.RacialTraits5</li>
                    }
                    @if(@Model.Character.playerRace.SubRacialTraits1 != null){
                        <li>@Model.Character.playerRace.SubRacialTraits1</li>
                    }
                    @if(@Model.Character.playerRace.SubRacialTraits2 != null){
                        <li>@Model.Character.playerRace.SubRacialTraits2</li>
                    }
                    @if(@Model.Character.playerRace.SubRacialTraits3 != null){
                        <li>@Model.Character.playerRace.SubRacialTraits3</li>
                    }
                    @foreach(Feature feat in Model.Features)
                    {
                    <li>@feat.FeatureName</li>
                    }   
                    @if(@Model.Character.playerStat.LangCommon == true){
                    <li>Speaks - Common Language</li>
                    }
                    @if(@Model.Character.playerStat.LangDwarvish){
                    <li>Speaks - Dwarvish</li>
                    }
                    @if(@Model.Character.playerStat.LangElvish){
                    <li>Speaks - Elvish </li>
                    }
                    @if(@Model.Character.playerStat.LangGiant){
                    <li>Speaks - Giant</li>
                    }
                    @if(@Model.Character.playerStat.LangGnomish){
                    <li>Speaks - Gnomish</li>
                    }
                    @if(@Model.Character.playerStat.LangGoblin){
                    <li>Speaks - Goblin</li>
                    }
                    @if(@Model.Character.playerStat.LangHalfling){
                    <li>Speaks - Halfling</li>
                    }
                    @if(@Model.Character.playerStat.LangOrcish){
                    <li>Speaks - Orcish</li>
                    }
                    @if(@Model.Character.playerStat.LangAbyssal){
                    <li>Speaks - Abyssal</li>
                    }
                    @if(@Model.Character.playerStat.LangCelestial){
                    <li>Speaks - Celestial</li>
                    }
                    @if(@Model.Character.playerStat.LangDraconic){
                    <li>Speaks - Draconic</li>
                    }
                    @if(@Model.Character.playerStat.LangDeepSpeech){
                    <li>Speaks - Deep Speech</li>
                    }
                    @if(@Model.Character.playerStat.LangInfernal){
                    <li>Speaks - Infernal</li>
                    }
                    @if(@Model.Character.playerStat.LangPrimordial){
                    <li>Speaks - Primordial</li>
                    }
                    @if(@Model.Character.playerStat.LangSylvan){
                    <li>Speaks - Sylvan</li>
                    }
                    @if(@Model.Character.playerStat.LangUndercommon){
                    <li>Speaks - Undercommon</li>
                    }
                </ul>
            </div>
        </div>

        @* Column 5 *@
        <div class = "col-sm-12 col-md-4 text-center" >
            <h5>Spells, Cantrips - Level 4</h5>
            <div class="col-sm statboxSpell bigboxSpell equal">
                <table style="table-layout: auto; width: 100%">
                    <thead>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Prepared</th>
                    </thead>
                    @foreach (Spell s in Model.Spells)
                    {
                        @if(s.SpellLevel <= 4)
                        {
                        <tr>
                        <td >@s.SpellName</td>
                        <td class="text-center">
                            @if(s.SpellLevel == 0)
                                {
                                <p>Cantrip</p>
                                }else
                                {
                                <p>@s.SpellLevel</p> 
                                }
                        </td>
                        <td class="text-center">
                            @foreach(SpellAssoc p in s.Players)
                            {
                                if(p.CharacterId == Model.Character.CharacterId && s.SpellLevel <= 4){
                                    if(p.AlwaysPrepped == true || s.SpellLevel == 0){
                                        <input name="@p.SpellA" type="checkbox" checked disabled >
                                    }
                                    else
                                    {
                                        <input name="@p.SpellId" type="checkbox" value="p.SpellId">
                                    }
                                }
                            }
                        </td>
                        </tr>
                        }
                    }
                    
                </table>
            </div>
        </div>

        @* Column 6 *@
         <div class = "col-sm-12 col-md-4 text-center" >
            <h5>Spells, Level 5 - Level 9</h5>
            <div class="col-sm statboxSpell bigboxSpell equal">
                <table style="table-layout: auto; width: 100%">
                    <thead>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Prepared</th>
                    </thead>
                    @foreach (Spell s in Model.Spells)
                    {
                        @if(s.SpellLevel > 4)
                        {
                        <tr>
                        <td >@s.SpellName</td>
                        <td class="text-center">
                            @if(s.SpellLevel == 0)
                                {
                                <p>Cantrip</p>
                                }else
                                {
                                <p>@s.SpellLevel</p> 
                                }
                        </td>
                        <td class="text-center">
                            @foreach(SpellAssoc p in s.Players)
                            {
                                if(p.CharacterId == Model.Character.CharacterId && s.SpellLevel > 4){
                                    if(p.AlwaysPrepped == true || s.SpellLevel == 0){
                                        <input name="@p.SpellA" type="checkbox" checked disabled >
                                    }
                                    else
                                    {
                                        <input name="@p.SpellId" type="checkbox" value="p.SpellId">
                                    }
                                }
                            }
                        </td>
                        </tr>
                        }
                    }
                    
                </table>
            </div>
        </div>
    </div>
    </form>
    <br>
    <div class = "text-center">
    <a class = "btn btn-primary" id="save" href="#">Save</a>
    </div>
</div>



<script>
    function openRegistration() {
        if(document.getElementById("login").style.display == "block")
        {
            document.getElementById("login").style.display = "none";
            document.getElementById("register").style.display = "block";
        }
        else if(document.getElementById("register").style.display == "block")
        {
            closeRegistration();
        }
        else{
            document.getElementById("register").style.display = "block";
        }
    }

    function closeRegistration() {
    document.getElementById("register").style.display = "none";
    }

    function openLogin() {
        if(document.getElementById("register").style.display == "block")
        {
            document.getElementById("register").style.display = "none";
            document.getElementById("login").style.display = "block";
        }
        else if(document.getElementById("login").style.display == "block")
        {
            document.getElementById("login").style.display = "none"
        }
        else{
            document.getElementById("login").style.display = "block";
        }
    }

    function closeLogin() {
    document.getElementById("login").style.display = "none";
    }

    document.getElementById("save").onclick = function(){
        var id = document.getElementById("CharacterId").value;
        var notes = "Notes" //Changed the getElementByID, was otherwise not allowing Character name to save.
        var name = document.getElementById("CharacterName").value;
        if(name === "" || name === null){
            name = "Name";
        }
        document.getElementById('save').setAttribute("href", `/update/${id}/${name}/${notes}`);
        }
</script>

