<style>
    *{
        font-family: Verdana, Geneva, sans-serif;
    }
    .form-popup{
        display: none;
        position: fixed;
        top: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    
    .container{
        background-color: #BFC0C0;
    }
    .btn{
        background-color: #2d3142;
        border: 1px solid #2d3142;
    }
    .btn-primary:hover {
        background-color: #3B0D11;
        border: 1px solid #3B0D11;
        opacity: 1;
    }
    .btn-sample:active {
        background-color: #3B0D11;
        border: 1px solid #2d3142;
    }
    .title {
        color: #2D3142 ;
        font-size: 3rem;
        font-weight: bold;
    }
    .welcome {
        font-weight: bold;
        color: #2D3142;
        text-align: center;
    }
    #refresh{
        color: #3B0D11;
        font-style: italic;
        font-size: large;
    }
    .profVals{
        text-align: right; 
        float: right;
        
       
    }
    .profCheck{
        margin:1px; 
        list-style-type: none;
        color: black;
    }
</style>

@model dynamic

@* Header Login/Registration  *@
<div class="row">
    <h1 class= "col-sm-8 text center"><a href="/" class="title">DnD 5E Character Randomizer</a></h1>
    <div class="col-sm-4">
        @{
            if(ViewBag.SessionId == null)
            {
                <div class="row">
                    <button class= "register-form col-sm-5 btn btn-primary btn-sm logreg" onclick="openRegistration()" >Register</button>
                    <div class="form-popup" id="register">
                        @* <partial Name="RegisterPartial"></partial> *@
                        @Html.Partial("RegisterPartial", (User) @Model.User)
                    </div>
                    <h4 class="col-sm-1">|</h4>
                    <button class = "login-form col-sm-5 btn btn-primary btn-sm logreg" onclick="openLogin()">Login</button>
                    <div class="form-popup" id= "login">
                        @* <partial Name="LoginPartial"></partial> *@
                        @Html.Partial("LoginPartial", (Login) @Model.Login)
                    </div>
                </div>
            }
            else
            {
                <div class="row">

                    <a class="btn btn-primary btn-sm col-sm-5 logreg" href="/profile/@Model.User.UserId">Profile</a>
                    <h4 class="col-sm-1">|</h4>
                    <a class="btn btn-primary btn-sm col-sm-5 logreg" href="/logout">Logout</a>
                </div>
            }
        }
    </div>
</div>

<div class="row welcome">
    <div class="col">
        <p class=" welcome">Welcome to our humble Character Randomizer!</p>
        <p class=" welcome">If you would like to be a bit more precise, then please register and you will be able to save your characters!</p>
        <p class=" welcome">Otherwise, click <a href="/" id="refresh">here</a> for another Character! Thanks for Visiting!</p>
        <br>
        <p class=" welcome">This Randomizer tool is made by fans, for fans, using references to the 5th Edition Players Handbook for Dungeons and Dragons. If you wish to gather information on the rules referenced here, please buy a copy of the 5th Edition Player's Handbook or use <a href="dndbeyond.com">DnD Beyond</a> and purchase the materials there.</p>
    </div>
</div>



@* Pull API from fantasy name generator for names *@
<div class="cotnainer" style="background: beige; border: 2px solid black; border-radius:5px;  margin: 5px; padding: 10px;">
    <div class="row">
        <h4 class="col-sm-5 text-center" style = "margin-bottom: 5px;">Character Name @Model.Character.playerRace.Race</h4>
        <h4 class="col-sm-7 text-center" style = "margin-bottom: 5px;">@Model.Character.playerClass.ClassName and @Model.Character.playerBG.Background</h4>
    </div>
    <div class="row">
        <h4 class="col-sm-5 text-center">

        </h4>
    </div>
    <div class="row ">
        <div class="col-sm-3" style="margin-left: 10px;">
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="margin: 2px; margin-top: 20px; text-align: center;">
                    <h4>Skills</h4>
                </div>
                <div class="col-5 text-center" style =" margin: 2px; margin-top: 20px; text-align: center;">
                    <h4>Another Header</h4>
                </div>
            </div>
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="border: 2px solid black; background: white; border-radius:5px;  margin: 2px; text-align: left;">
                    <p>Strength</p>
                    <p>@Model.Character.playerStat.Strength</p>
                </div>
                <div class="col-5 text-center" style ="border: 2px solid black; background: white;  border-radius:5px; margin: 2px; text-align: left;">
                    <p>Dexterity</p>
                    <p>@Model.Character.playerStat.Dexterity</p>
                </div>
            </div>
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Dexterity</p>
                    <p>@Model.Character.playerStat.Dexterity</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>PlaceHolder</p>
                    <p>something?</p>
                </div>
            </div>
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Constitution</p>
                    <p>@Model.Character.playerStat.Constitution</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Dexterity Modifier</p>
                    <p>@Model.Character.playerStat.DexMod</p>
                </div>
            </div>
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Intelligence</p>
                    <p>@Model.Character.playerStat.Intelligence</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Intelligence Modifier</p>
                    <p>@Model.Character.playerStat.IntMod</p>
                </div>
            </div>
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Wisdom </p>
                    <p>@Model.Character.playerStat.Wisdom</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Charisma Modifier</p>
                    <p>@Model.Character.playerStat.ChaMod</p>
                </div>
            </div>
            <div class="row" >
                <span class="col-sm-1"></span>
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Charisma </p>
                    <p>@Model.Character.playerStat.Charisma</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Charisma Modifier</p>
                    <p>@Model.Character.playerStat.ChaMod</p>
                </div>
            </div>
        </div>
        
        <div class = "col-sm-2 text-center" style =" text-align: left; margin-right: 60px; ">
            <h4>Proficiencies</h4>
            <ul style ="text-align: left; border: 2px solid black; border-radius:5px; background: white; padding: 30px; ;" class="col-sm">
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Acrobatics">
                    Acrobatics
                    <span class="profVals">@Model.Character.playerStat.Acrobatics</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "AnimalHandling ">
                    Animal Handling 
                    <span class="profVals">@Model.Character.playerStat.AnimalHandling</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Arcana">
                    Arcana 
                    <span class="profVals">@Model.Character.playerStat.Arcana</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Athletics">
                    Athletics 
                    <span class="profVals">@Model.Character.playerStat.Athletics</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Deception">
                    Deception 
                    <span class="profVals"> @Model.Character.playerStat.Deception</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "History">
                    History 
                    <span class="profVals">@Model.Character.playerStat.History</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Insight">
                    Insight 
                    <span class="profVals"> @Model.Character.playerStat.Insight</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Intimidation">
                    Intimidation 
                    <span class="profVals"> @Model.Character.playerStat.Intimidation</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Investigation">
                    Investigation 
                    <span class="profVals"> @Model.Character.playerStat.Investigation</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Medicine">
                    Medicine 
                    <span class="profVals"> @Model.Character.playerStat.Medicine</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Nature">
                    Nature 
                    <span class="profVals"> @Model.Character.playerStat.Nature</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Perception">
                    Perception 
                    <span class="profVals"> @Model.Character.playerStat.Perception</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Performance">
                    Performance 
                    <span class="profVals">@Model.Character.playerStat.Performance</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Persuasion">
                    Persuasion 
                    <span class="profVals">@Model.Character.playerStat.Persuasion</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Religion">
                    Religion 
                    <span class="profVals"> @Model.Character.playerStat.Religion</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Sleight">
                    Sleight of Hand 
                    <span class="profVals"> @Model.Character.playerStat.Sleight</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Stealth">
                    Stealth 
                    <span class="profVals"> @Model.Character.playerStat.Stealth</span>
                </li>
                <li class= "profcheck" onload=ProfCheck(this.id) id= "Survival">
                    Survival 
                    <span class="profVals"> @Model.Character.playerStat.Survival</span>
                </li>
            </ul>
            @* <ul style ="text-align: left;"class="col-sm">
                <li class="profVals"> @Model.Character.playerStat.Acrobatics</li>
                <li class="profVals"> @Model.Character.playerStat.AnimalHandling</li>
                <li class="profVals"> @Model.Character.playerStat.Arcana</li>
                <li class="profVals"> @Model.Character.playerStat.Athletics</li>
                <li class="profVals"> @Model.Character.playerStat.Deception</li>
                <li class="profVals"> @Model.Character.playerStat.History</li>
                <li class="profVals"> @Model.Character.playerStat.Insight</li>
                <li class="profVals"> @Model.Character.playerStat.Intimidation</li>
                <li class="profVals"> @Model.Character.playerStat.Investigation</li>
                <li class="profVals"> @Model.Character.playerStat.Medicine</li>
                <li class="profVals"> @Model.Character.playerStat.Nature</li>
                <li class="profVals"> @Model.Character.playerStat.Perception</li>
                <li class="profVals"> @Model.Character.playerStat.Performance</li>
                <li class="profVals"> @Model.Character.playerStat.Persuasion</li>
                <li class="profVals"> @Model.Character.playerStat.Religion</li>
                <li class="profVals"> @Model.Character.playerStat.Sleight</li>
                <li class="profVals"> @Model.Character.playerStat.Stealth</li>
                <li class="profVals"> @Model.Character.playerStat.Survival</li>
            </ul> *@
        </div>
        <div class="col-sm-3" style="margin: 10px;">
            <div class="row" >
                <div class="col-5 text-center " style ="border: 2px solid black; background: white; border-radius:5px;  margin: 2px; text-align: left;">
                    <p>Level</p>
                    <p>@Model.Character.Level</p>
                </div>
                <div class="col-5 text-center" style ="border: 2px solid black; background: white;  border-radius:5px; margin: 2px; text-align: left;">
                    <p>Hit Points</p>
                    <p>@Model.Character.playerStat.HitPoints</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Proficiency</p>
                    <p>@Model.Character.playerStat.Proficiency</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>PlaceHolder</p>
                    <p>something?</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Strength Modifier</p>
                    <p>@Model.Character.playerStat.StrMod</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Dexterity Modifier</p>
                    <p>@Model.Character.playerStat.DexMod</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Constitution Modifier</p>
                    <p>@Model.Character.playerStat.ConMod</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Intelligence Modifier</p>
                    <p>@Model.Character.playerStat.IntMod</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Wisdom Modifier</p>
                    <p>@Model.Character.playerStat.WisMod</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Charisma Modifier</p>
                    <p>@Model.Character.playerStat.ChaMod</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-5 text-center" style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Place Holder</p>
                    <p>something</p>
                </div>
                <div class="col-5 text-center"  style ="border: 2px solid black; border-radius:5px; background: white; margin: 2px; text-align: left;">
                    <p>Place Holder</p>
                    <p>something</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Features</h4>
            @foreach(Feature feat in Model.Features)
            {
            <p>@feat.FeatureName</p>

            }
        </div>
        <div class="col">
            <h4>Skills and Spells</h4>
            <p>Spells</p>
        </div>
        <div class="col">
            <h4>Notes</h4>
            <p>notes?</p>
        </div>
    </div>
</div>



<script>
function openRegistration() {
    if(document.getElementById("login").style.display == "block")
    {
        document.getElementById("login").style.display = "none";
        document.getElementById("register").style.display = "block";
    }
    else if(document.getElementById("register").style.display == "block")
    {
        closeRegistration();
    }
    else{
        document.getElementById("register").style.display = "block";
    }
}

function closeRegistration() {
  document.getElementById("register").style.display = "none";
}

function openLogin() {
    if(document.getElementById("register").style.display == "block")
    {
        document.getElementById("register").style.display = "none";
        document.getElementById("login").style.display = "block";
    }
    else if(document.getElementById("login").style.display == "block")
    {
        document.getElementById("login").style.display = "none"
    }
    else{
        document.getElementById("login").style.display = "block";
    }
}

function closeLogin() {
  document.getElementById("login").style.display = "none";
}


//check to see if model prof bool is t/f ???????
function ProfCheck(ProfId, playerStatProf) {
    let profCheck = (ProfId + "B");
    let playerStats = playerStatProf + "." + profCheck; 
    Console.log(profCheck);
    Console.log(playerStats);
    Console.log("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++");
    if(playerStats == true)
    {
        document.getElementById(ProfId).style.color = "yellow";
    }
}
</script>


